@using AKAR.WebUI.ViewModels
@model ProductViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Ana Sayfaya Hoşgeldiniz :</h1>


<br />
<h2> ÜRÜNLER :</h2>
<br />
<br />

<div class="row">
    <div class="col-3"> KATEGORİLER BÖLÜMÜ</div>
    <div class="col-9">
        @foreach (var item in @Model.Products)
        {
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@item.ImageURL" alt="Card image cap">
        <div class="card-body">
         <h5 class="card-title">@item.Name</h5>
         <p class="card-text"> @item.Description</p><br>
         <p class="card-text"> @item.Price</p>

         <a href="#" class="btn btn-primary">Daha Fazlası için</a>
        </div>
        </div>
       
        }

    </div>
</div>